# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pipenv
Pipfile.lock

.ipynb_checkpoints/
*.ipynb

.venv/
venv/
ENV/

*.log
*.sql
*.sqlite
logs/
airflow.db

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

docker-compose.override.yml
docker-compose.*.yml
*.docker

data/
minio-data/
postgres-data/
checkpoints/
processed/
raw/
*.tmp
*.bak
*.swp
*~

build/
dist/
*.egg
*.eggs/
wheels/

airflow.cfg
webserver_config.py
airflow-webserver.pid
unittests.cfg
airflow/
dags/*.pyc

spark-warehouse/
metastore_db/
derby.log
*.crc
*.parquet
*.snappy

minio-data/

.env
.env.local

*.csv
*.txt
*.parquet